[Unit]
Description=The HMI gateway Daemon, routing vlan62 someip to wlan0 network
After=multi-user.target

[Service]
User=pi
Type=idle
RestartSec=60
WorkingDirectory=/opt/hmi-gateway
ExecStart=/opt/hmi-gateway/run.sh

[Install]
WantedBy=multi-user.target