[Unit]
Description=Java Swing Impl of notify-send
After=multi-user.target

[Service]
User=pi
Type=idle
RestartSec=60
Environment="DISPLAY=:0"
WorkingDirectory=/opt/hmi-gateway
ExecStart=/opt/hmi-gateway/notifier.sh

[Install]
WantedBy=graphical.target